@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-image: url('../imagens/fundo-azul.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

#telefone {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 627px;
  width: 311px;
  transform: translate(-50%, -50%);
  background: url('../imagens/frame-iphone.png');
  background-repeat: no-repeat;
}

#tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 267px;
  height: 471px;
}

#redes-sociais {
  position: absolute;
  right: 10%;
  bottom: 30%;

  height: 471px;
  max-width: 50px;
}

#redes-sociais img {
  padding: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
  cursor: pointer;
  margin: 5px;
  box-sizing: border-box;
}

#redes-sociais img:hover {
  border: 2px solid rgba(255, 255, 255, 0.384);
}
